body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #5e5e5e;
  
}


.citySelectionHeader{
  border: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mealContainer{
  display: flex;
  flex-wrap: nowrap; /* keep on one row */
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
